<div id="spree-footer">
  <footer>
    <div id="footer" class="clearfix">
      <div class="container text-center">
        <div class="footer-social">
          <div class="footer-social-menu">
            <%= link_to 'http://www.crowdint.com', target: '_blank' do %>
              <span class="magma-icon magma-crowd-footer"></span>
            <% end %>
          </div>
          <div class="footer-social-menu">
            <%= link_to 'http://www.facebook.com/CrowdInteractive', target: '_blank' do %>
              <span class="magma-icon magma-fb-footer"></span>
            <% end %>
            <%= link_to 'http://twitter.com/Crowdint', target: '_blank' do %>
              <span class="magma-icon magma-tw-footer"></span>
            <% end %>
            <%= link_to 'http://plus.google.com/+Crowdint', target: '_blank' do %>
              <span class="magma-icon magma-google-footer"></span>
            <% end %>
          </div>
        </div>
        <div class="footer-copyright">
          Crowd Interactive © 2015.This site is protected by copyright, under U.S. and international law. All rights reserved.
        </div>
        <div class="footer-menu">
          <%= link_to 'About Us', 'http://www.crowdint.com/', target: '_blank' %> <span class="separator">|</span>
          <%= link_to 'Privacy & Security', '#' %> <span class="separator">|</span>
          <%= link_to 'Terms of Use', '#' %>
        </div>
      </div>
    </div>
    <div id="sub-footer" class="hid-small-screen">
      <div class="container text-center">
        <%= link_to 'https://www.honeybadger.io/', target: '_blank' do %>
          <div class="col-md-4">
            <div class="sub-footer-column">
              <span class="footer-text">Tracking errors with </span>
              <span class="footer-text"><span class="magma-icon magma-honey-logo"></span></span>
            </div>
          </div>
        <% end %>
        <%= link_to 'https://spreecommerce.com/', target: '_blank' do %>
          <div class="col-md-4">
            <div class="sub-footer-column">
              <span class="footer-text">Powered by </span>
              <span class="footer-text"><span class="magma-icon magma-spree-logo"></span></span>
            </div>
          </div>
        <% end %>
        <%= link_to 'http://www.crowdint.com/', target: '_blank' do %>
          <div class="col-md-4">
            <div class="sub-footer-column">
              <span class="footer-text">Developed by </span>
              <span class="footer-text"><span class="magma-icon magma-crowd-logo"></span></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </footer>
</div>